*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(166, 136, 218); 
}

.container{
    border: 1px solid #ccc;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 325px;
}
.screen{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 3rem;
    height: 80px;
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
}
button{
    height: 60px;
    border-radius: 20px;
    border-top-left-radius: 5px ;
    border-bottom-right-radius: 5px;
    border: 1px solid palegoldenrod;
    background-color: plum;
    font-size: 2rem;
    color: #fff;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
button:active{
    background-color: bisque;
}
.all-clear:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.equal-sign{
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover{
    background-color: palevioletred;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

















